services:
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_NAME=cardiolog
      - DB_USER=postgres
      - DB_PASSWORD=0000
      - PORT=3000
      - JWT_SECRET=supersecretkey
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_DB=cardiolog
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=0000
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d cardiolog"]
      interval: 5s
      timeout: 5s
      retries: 5